// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

main {
  padding: 1em;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

.logo {
  width: 4rem;
  height: 4rem;
  margin-top: -10px;
  margin-right: 1rem;
}

footer {
  text-align: center;
  font-size: 0.8em;
}
